.container {
    border: 1px solid rgba(0, 0, 0, 0.2);
    top: 110px;
    height: calc(100vh - 150px);
    min-width: 310px;
}
.container__Component {
    width: 300px;
}
.container__Section {
    height: 35px;
    width: 100%;
}
.icon__Back, .button__Back {
    color: #e4002b;
}
.icon__Back:hover, .button__Back:hover {
    border-bottom: 2px solid #e4002b;
}
.aaaaaaaaaaa {
    border: 1px solid red;
}
.active {
    background: #e9ecef;
}
.container__Icon {
    margin: 0 5px 0 0;
    height: 35px;
    width: 20px;
}
.icon__Deployment {
    color: #212322;
    font-size: 20px;
}
.section {
    height: 35px;
    width: 100%;
}
.icon__Section {
    color: #e4002b;
    font-size: 20px;
}
.link__Side_Bar {
    color: #212322;
    width: 100%;
}
.link__Side_Bar:hover {
    cursor: pointer;
}
.sub__Menu {
    padding-left: 20px;
    margin-top: 10px;
}
.link__Sub_Menu {
    padding: 5px 5px 5px 40px;
    margin-bottom: 10px;
    display: block;
    color: inherit;
}
.link__Sub_Menu:hover {
    color: #e4002b;
}
.active__Sub_Menu {
    color: #e4002b;
    font-weight: 600;
}