.container {
    border: 1px solid red;
    margin: 110px 0 0 0;
    width: 100%;
}
.container__Component {
    width: 100%;
    height: 100vh;
}
.title {
    color: #e4002b;
    font-weight: 600;
    letter-spacing: 1px;
}