.container {
    background: #f8f9fa;
    margin: 50px auto;
    width: 100%;
}
.container__Component {
    width: 1200px;
}
.container__Information_Section {
    width: 100%;
}
.title__Section {
    font-family: 'montserratbold', sans-serif;
}
.container__Image_Section {
    border-radius: 25px;
    box-shadow: 0px 5px 10px 5px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 500px;
}
.image__Our_Philosophy {
    border-radius: 20px;
    height: 450px;
    width: 450px;
}
.container__Data {
    height: 500px;
    width: 500px;
}
.title__Data {
    font-family: 'montserratsemibold', sans-serif;
}
.icon__Section {
    font-size: 25px;
}